.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


.services_text {
    color: rgb(0, 0, 0) !important;
    font-family: cursive;
    font-weight: 600;
}

@media only screen and (max-width:688px) {
    .services_container {
        grid-template-columns: repeat(1, 1fr);


    }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
    .services_container {
        grid-template-columns: repeat(2, 1fr);


    }
}